* {
    margin: 0;
    padding: 1vh;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e6f0ff;
    height: 100vh;
  }

  .working-area{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  h1{
    font-size: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

 nav{
background-color: rgb(255, 255, 255);
width: 100vw;
display: flex;
justify-content: space-between;
 }

 .video-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .video-card img {
    width: 100%;
    height: auto;
  }
  
  .video-info {
    padding: 10px;
  }
  
  .video-info h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .download-btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .download-btn:hover {
    background-color: #0056b3;
  }
  
  .reward {
    font-weight: bold;
    color: #ff0000;
  }