*{
    box-sizing: border-box;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 10px;
    margin: 0;
}

.head{
    text-align: center;
    background: linear-gradient(50deg,#14ac00,#000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
}

 .todo-input-grid{
    display: grid;
    grid-template-columns:   200px 150px 100px;
    column-gap: 30px;
    row-gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.todo-grid{
    display: grid;
    grid-template-columns: 20px 200px 150px 100px;
    column-gap: 30px;
    row-gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.todo-grid{
    margin-bottom: 10px;
    background-color: #e0e0e0;
}

.todo-input-grid{
    margin-bottom: 10px;
}

.name-input, .due-name-input{
    font-size: 15px;
    padding: 6px;
    max-width: 700px; 
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; 
}



.add-button, .delete-button{
    font-size: 15px;
    cursor: pointer;
    padding: 6px;
    color: #f0f8ff;
    background-color: #008000;
    border: none;
    /* width: 20vw; */
    height: 40px;
    
}

.delete-button{
    background-color: #d80000;
}

.add-button:hover, .delete-button:hover{
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

.checkbox{
    cursor: pointer;
}