
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        
      }
      .container {
        display: flex;
        flex-direction: column;
        background-color: #fdfbfb;
        padding: 20px;
        border-radius: 5px;
      }
      h1 {
        margin-top: 0;
        color: #000000;
        text-align: center;
        color: rgb(0, 0, 0);
        transform: rotate(90deg);
      }

      .head{
        display: flex;
        justify-content: center;
      }
      span{
        color: rgb(255, 0, 0);
      }
  
      input {
        padding: 10px;
        margin-bottom: 10px;
        font-size: 20px;
        border-radius: 5px;
        border: none;
        outline: none;
        box-shadow: 0px 0px 4px #0000008f;
        margin: 10px;
      }
     
      button {
        width: 100px;
        height: 30px;
        font-size: 16px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
      }
      button:hover {
        background-color: #45a049;
      }
      button:active {
        background-color: #3e8e41;
        transform: scaleX(0.9);
        transition-duration: 100ms;
      }
      button:focus {
        outline: none;
      }
      p{
        font-size: 20px;
        text-align: center;
        font-family: cursive;
      }
      img{
        position: fixed;
        background-size: cover;
        filter: blur(3px);
        z-index: -1;
        padding: 0;
        width: 100%;
        height: auto;
      }

      #popup{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
        z-index: -1;
        border: none;
        border-radius:4px;
        box-shadow: 0px 0px 10px #8C889C;
      }